@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.points-gradient-text {
  background: -webkit-linear-gradient(left, white , purple);
  background: -o-linear-gradient(right, white, purple);
  background: -moz-linear-gradient(right, white, purple);
  background: linear-gradient(to right, white , purple); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-points-gradient-text {
  background: -webkit-linear-gradient(left, #F0C8F3 ,#BA71D4);
  background: -o-linear-gradient(right, #F0C8F3, #BA71D4);
  background: -moz-linear-gradient(right, #F0C8F3, #BA71D4);
  background: linear-gradient(to right, #F0C8F3 , #BA71D4); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-select > div {
  padding: 12px;
  border-color: rgb(107 114 128);
}

.modal-select > svg {
  color: ;
}

.points-earned-modal-input > div {
  border-radius: 0px;
}

.points-earned-modal-input input {
  text-align: center
}

.container-with-arrow:after{
  position: absolute;
  width: 10px;
  height: 10px; 
  border-top: 1px solid #E1E3EB;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px solid #E1E3EB;
  top: 20%;
  left: 56%;
  margin-left: -23px;
  content: '';
  transform: rotate(45deg);
  margin-top: -25px;
  background: white;
}